@media only screen and (min-width: 480px) and (max-width: 767px) {
  #{$container} {
    @include grid(5, false);
  }
  [role=main] {
    @include padded-column(5, 0, true);
  }
  .CTA {
    display: inline-block;
    @include padded-column(2, 0, true);
    float: right;
    text-decoration: none;
  }
  aside {
    @include padded-column(5, 0, true);
  }
}
