%footer
  .container
    .first
      %p Testing the content. Here is some more stuff.
    .second
      %p This is the second content region.
    .third
      %p This is the third content region.
