%ul
  %li
    %a{:class => "#{active?('welcome')}", :href => "/"} Welcome
  %li
    %a{:class => "#{active?('about')}", :href => "/about"} About
  %li
    %a{:class => "#{active?('contact')}", :href => "/contact"} Contact

