%footer
  .container
    .first
      %h1 Product
      = partial "layouts/partials/product_nav"
      
    .second
      %h1 Company
      = partial "layouts/partials/company_nav"
      
    .third
      %h1 Keep in touch
      %p It would be nice to have some sort of reason for signing up here.
