.pitch
  .container
    .content
      %p Text to sell this thing. It is teh awesome!
      .cta
        %a{:href=> "pricing.html"} 
          Check out our prices
          %span They'll convince you
