%ul
  %li
    %a{:class => "#{active?('pricing')}", :href => "/pricing"} Pricing
  %li
    %a{:class => "#{active?('howTo')}", :href => "/howTo"} How to
  %li
    %a{:class => "#{active?('features')}", :href => "/features"} Features
  %li
    %a{:class => "#{active?('signIn')}", :href => "/signIn"} Sign in

