$grid-element: unquote("body") !default;
$grid-padding: true !default;
$font-family: verdana, sans-serif !default;
$column-width: 68px !default;
$gutter-width: 24px !default;
$column-padding: 10px !default;

@mixin grid($columns, $padding: $grid-padding) {
  @include column($columns, true);
  @if $padding == true {
    @include grid-padding($columns);
  }
}

@mixin grid-padding($columns) {
  @if $columns == 10 {
    padding: 24px;
  } @else if $columns == 8 {
    padding: 24px;
  } @else if $columns == 3 {
    padding: 24px;
  } @else if $columns == 5 {
    padding: 24px;
  }
}

@mixin prepend-column($columns, $border-width: 0px, $padded: false){
  @if $padded{
    margin-left: (($columns * $column-width) + ($gutter-width * ($columns)) - $column-padding - $border-width);
  } @else {
    margin-left: (($columns * $column-width) + ($gutter-width * ($columns)));
  }
}

@mixin append-column($columns, $border-width: 0px, $padded: false){
  @if $padded{
    margin-right: (($columns * $column-width) + ($gutter-width * ($columns + 1)) - $column-padding - $border-width);
  } @else {
    margin-right: (($columns * $column-width) + ($gutter-width * ($columns + 1)));
  }
}

@mixin padded-column($columns, $border-width: 0px, $big: false, $last: false){
  
  margin-top: $gutter-width - $column-padding - $border-width;
  margin-bottom: $gutter-width - $column-padding - $border-width;
   @if $big{
    width: ($column-width * ($columns - 2)) + ($gutter-width * ($columns - 1));
    $big-padding: $column-width / 2 - $gutter-width;
    $big-margin: $column-width / 2 + $gutter-width;
    padding: $column-padding $big-padding;
    margin-left: $big-margin;
    margin-right: $big-margin;
   }@else{
    width: ($column-width * $columns) + ($gutter-width * ($columns - 1));
    padding: $column-padding;
    margin-left: -($column-padding + $border-width);
    margin-right: -($column-padding + $border-width);
 }
  @if $last != true {
    margin-right: $gutter-width - $column-padding - $border-width;
  }
}

@mixin column($columns, $last: false) {
  width: ($column-width * $columns) + ($gutter-width * ($columns - 1));
  @if $last != true {
    margin-right: $gutter-width;
  }
}

@mixin selection-color($color: unquote("rgb(255,255,158)")) {
  ::selection {background: #{$color};}
  ::-moz-selection {background: #{$color};}
  img::selection {background: transparent;}
  img::-moz-selection {background: transparent;}
  body {-webkit-tap-highlight-color: #{$color};}
}
