$grid-element: unquote("body") !default;
$column-count: 10 !default;
$max-width: 960px !default;
$min-width: 960px !default;

@function get-percent($target, $context: $max-width) {
  @return percentage($target / $context);
}

$gutter-width:  get-percent(4px) !default;
$column-padding: get-percent(10px);
$gutter-offset: $gutter-width * ( $column-count - 1) / $column-count;

$column-width: (get-percent($max-width) / $column-count) - ($gutter-offset) ;

@mixin grid($columns) {
  width: 90%;
  max-width: $max-width;

}

@mixin prepend-column($columns, $first: false){ 
  @if $first == true{
    margin-left: ($columns * $column-width) + ($gutter-width * ($columns)) - $column-padding;
  } @else {
    margin-left: ($columns * $column-width) + ($gutter-width * ($columns));
  }
}

@mixin append-column($columns, $last: false){
   @if $last == true{
    margin-right: ($columns * $column-width) + ($gutter-width * ($columns)) - $column-padding;
   } @else {
     margin-right: ($columns * $column-width) + ($gutter-width * ($columns + 1));
   }
}

@mixin pad-column($columns){
  $pad: ((.5 * (($columns * $column-width) + ($gutter-width * ($columns)))) + $column-padding);
  padding-left: $pad;
  padding-right: $pad;
}

@mixin pad-column-left($columns){
  padding-left: ($columns * ( $column-width + $column-padding)) + $column-padding;
}

@mixin pad-column-right($columns){
  padding-right: ($columns * ( $column-width + $column-padding)) + $column-padding;
}

@mixin column($columns, $place: middle){
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: ($column-width * $columns) + ($gutter-width * ($columns - 1));
  padding: $column-padding;
  margin-top: $gutter-width;
  margin-bottom: $gutter-width;
  @if $place == last{
    margin-right: -$column-padding;
    margin-left:0;
  } @else if $place == first{
    margin-right:$gutter-width;
    margin-left:-$column-padding;
    margin-left:0;
    margin-right: $gutter-width;

  } @else {
    margin-left:0;
    margin-right: $gutter-width;
  }
}

@mixin first{
    margin-left:-$column-padding;
}
@mixin last{
    margin-right:-$column-padding;
}
